<h1>Welcome to my Restaurant-Review web application </h1>
<br>
<p>Thank you for visiting my app demo for searching restaurants and writing reviews. This app is an app written using
Ruby on Rails and have many functionalities such as the restaurant location through Google Maps and a search bar.
This app does not solicit private information to others and are 100% confidential.</p>
